html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0; }

body {
  background-color: #fff; }

.container {
  width: 500px;
  margin: 0 auto;
  padding-top: 20px; }

.subject {
  border-top: 5px solid #ffffff;
  border-right: 2px solid #DDDDDD;
  border-bottom: 5px solid #ffffff;
  border-left: 2px solid #DDDDDD;
  font: normal 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .subject__name {
    padding: 10px 5px;
    font-size: 20px;
    background-color: #C4E5FF; }
  .subject__room {
    padding: 5px;
    background-color: #FFE2FF; }
  .subject__teacher {
    padding: 5px;
    background-color: #E2FFE2; }
