html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0; }

body {
  background-color: #fff; }

.weather {
  width: 700px;
  margin: 0 auto; }
  .weather__header {
    text-align: center;
    font: 600 36px/1.4 'Open Sans', sans-serif;
    color: #333333; }
  .weather__date {
    padding: 20px 0 10px 0; }
  .weather__text {
    padding: 5px 0 5px 20px; }
